{% load static %}
<header>
  <ul>
    <li><img src="{% static '/Imagenes/logo.png'%}" class="logo"></li>
    <li><a href="{% url 'index' %}">Inicio</a></li>
    <li><a href="{% url 'servicio' %}">Servicio</a></li>
    <li><a href="{% url 'informacion' %}">Informacion</a></li>
    <li><a href="{% url 'contacto' %}">Contacto</a></li>
    <li><a href="{% url 'clientes' %}">Clientes</a></li>
    <li style="float:right"><a class="active" href="{% url 'login' %}">Iniciar sesion</a></li>
  </ul>
</header>